node_modules
.next
.git
.gitignore
downloads
prisma/*.db
prisma/*.db-journal
.env
.env*.local
README.md
IDEA.md
*.md
.agents
.claude
.windsurf
skills-lock.json
AGENTS.md
CLAUDE.md
npm-debug.log*
.DS_Store
